<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    <h3>
        Halo <%= user.name %>, selamat datang di website resmi kami.
    </h3>

    <b>Silahkan <a href="<%= link%>">>klik</a> disini untuk memverifikasi email kamu.</b>
</body>

</html>