<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Push</title>
  </head>
  <body>
    Selamat email kamu telah berhasil di registrasi
    <script src="./client.js"></script>
  </body>
</html>
